@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Black.eot');
	src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	url('ProximaNova-Black.woff') format('woff'),
	url('ProximaNova-Black.ttf') format('truetype');
	font-weight: black;
	font-style: normal;
}

